Source: gspeech
Section: sound
Priority: optional
Maintainer: Jérémie Ferry <jerem.ferry@gmail.com>
Build-Depends: debhelper (>= 9), python3-dev, python3-setuptools

Package: gspeech
Architecture: all
Depends: ${python3:Depends}, python3-gst-1.0, python3-gi, gstreamer1.0-plugins-base, gstreamer1.0-plugins-good, gstreamer1.0-pulseaudio, libttspico-utils 
Description: Interface graphique au synthétiseur vocal Svoxpico.
    Permet de lire le contenu du presse-papier ou d'un texte sélectionné, de mettre pause, gérer la vitesse de lecture etc.
